node_modules
.next
yarn.lock
package-lock.json
public
coverage
build
.husky
oldadm
old-apps

**/node_modules/**
**/.next/**
**/public/**
**/coverage/**
**/build/**
**/.husky/**
**/dist/**
**/oldadm/**
**/old-apps/**
